<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>appId</key>
		<integer>737480360</integer>
		<key>coords</key>
		<data>
		S+hWaQ/fRkDw0M3+QGkTQA==
		</data>
		<key>distance</key>
		<real>22917.713258140931</real>
		<key>name</key>
		<string>Lyon</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>882298849</integer>
		<key>coords</key>
		<data>
		KjO0a8FvSEBE6plBfs4CQA==
		</data>
		<key>distance</key>
		<real>27796.216313146546</real>
		<key>name</key>
		<string>Paris</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>898838535</integer>
		<key>coords</key>
		<data>
		xcVRuYloSUB798d71XoRQA==
		</data>
		<key>distance</key>
		<real>23268.375</real>
		<key>name</key>
		<string>Bruxelles</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>907179797</integer>
		<key>coords</key>
		<data>
		ndhD+1ihRUAjTifZ6oIVQA==
		</data>
		<key>distance</key>
		<real>13036.950000000001</real>
		<key>name</key>
		<string>Marseille</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>907384126</integer>
		<key>coords</key>
		<data>
		P6cgPxvNRUCze/KwUOv2Pw==
		</data>
		<key>distance</key>
		<real>10019.526</real>
		<key>name</key>
		<string>Toulouse</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>907384332</integer>
		<key>coords</key>
		<data>
		4q3zb5ffR0AhWFUvv1MdQA==
		</data>
		<key>distance</key>
		<real>3018.4229999999998</real>
		<key>name</key>
		<string>Mulhouse</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>1073604521</integer>
		<key>coords</key>
		<data>
		saNxqN+bR0ByiSMPRNb4vw==
		</data>
		<key>distance</key>
		<real>6336.5459999999994</real>
		<key>name</key>
		<string>Nantes</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>1081759410</integer>
		<key>coords</key>
		<data>
		LbMIxVZkSED1ZtR8lZwDQA==
		</data>
		<key>distance</key>
		<real>3316.569</real>
		<key>name</key>
		<string>Créteil</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>1083001230</integer>
		<key>coords</key>
		<data>
		2/tUFRqsSkBwfO2ZJREZwA==
		</data>
		<key>distance</key>
		<real>335.553</real>
		<key>name</key>
		<string>Dublin</string>
	</dict>
	<dict>
		<key>appId</key>
		<integer>1083005672</integer>
		<key>coords</key>
		<data>
		g8DKoUXOSEBtVn2utoIYQA==
		</data>
		<key>distance</key>
		<real>421.80000000000001</real>
		<key>name</key>
		<string>Luxembourg</string>
	</dict>
</array>
</plist>
